<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">UNIDOS MEXICO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto dropdown">
          <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cogs" aria-hidden="true" ></i> HERRAMIENTAS <span class="caret"></span> </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> MAPA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-wifi" aria-hidden="true"></i> WIFI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> BUSCAME</a>
                    </li>
              </ul>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-usd" aria-hidden="true"></i> DONACIONES</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item" (click)="loginWithGoogle()">
              <a class="nav-link" href="#"  ><i class="fa fa-unlock-alt" aria-hidden="true"></i> INICIAR SESION</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" ><i class="fa fa-user" aria-hidden="true"></i> {{user.displayName}}</a>
              <ul class="dropdown-menu">
                  <li *ngIf="isLoggedIn()" class="nav-item">
                      <a class="nav-link" href="#" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i> CERRAR SESSION</a>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<agm-map  [latitude]="19.432608" [longitude]="-99.133209" [zoom]="zoom" style="height: 50vh !important;">
  <div  *ngFor="let location of locations | async;let i = index">
    <agm-marker
     [latitude]="location.lat"
     [longitude]="location.long">
     <agm-info-window>
        <strong>{{location.name}}</strong>
      </agm-info-window>
    </agm-marker>    
  </div>
</agm-map>

<div [hidden]="!isLoggedIn()" class="row albergueBig">
  <select class="col-sm-1 albergueInfo albergueSmall" id="selectType" #type [value]="typeValue" (input)="typeValue=$event.target.value">
      <option>Albergue</option>
      <option>Necesitamos</option>
      <option>Cruz Roja</option>
      <option>Sismo</option>
      <option>Huracan</option>
      <option>Centro de Acopio</option>
      <option>Hospitales Gratuitos</option>
      <option>Asesorias Gratuitas</option>
  </select>
  <div class="col-sm-2 albergueSmall">
    <p>Nombre:</p>
    <input class="albergueInfo" type="text" #name [value]="nameValue" (input)="nameValue=$event.target.value"/>
  </div>
  <div class="col-sm-4 albergueSmall">  
      <p>Dirección:</p>
      <input [hidden]="!isLoggedIn()" class="albergueInfo" type="text" autocorrect="off" autocapitalized="off" 
      spellcheck="off"
      placeholder=""
      #address [value]="addressValue" (input)="addressValue=$event.target.value"/>

  </div>
  <div class="col-sm-2 albergueSmall">
      <p>Necesitamos:</p>
      <textarea class="albergueInfo needsInfo" type="text"  #needs [value]="needsValue" (input)="needsValue=$event.target.value"> </textarea>
  </div>
  <div class="col-sm-1">
    <input type="button" class="btn btn-primary albergueInfo btnInfo" (click)="add(name.value,address.value,needs.value)" value="Agregar"/>
  </div>
</div>

<table class="table table-hover">
    <thead>
      <tr class="bg-dark">
        <th  class="text-white">Nombre</th>
        <th  class="text-white">Direccion</th>
        <th  class="text-white">Necesitamos</th>
        <th  class="text-white" *ngIf="isLoggedIn()"> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations | async; let i = index" class="rowTable">
        <td #nameTemp  >{{location.name}}</td>
        <td #addressTemp>{{location.address}}</td>
        <td #needsTemp>{{location.needs}}</td>
        <td *ngIf="isLoggedIn()"><i *ngIf="userUID() == location.uid" class="fa fa-minus-circle fa-lg text-danger removeLocations" aria-hidden="true" (click)="remove(location)"></i>
          <i *ngIf="userUID() == location.uid" class="fa fa-pencil-square-o fa-lg text-warning removeLocations" aria-hidden="true"
           (click)="update(location,location.name,location.address,location.city,location.state,location.needs, location)"></i>
        </td>
      </tr>
    </tbody>
  </table>
