<nav class="navbar navbar-expand-lg bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">UNIDOS MEXICO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto dropdown">
          <li class="nav-item">
              <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-cogs" aria-hidden="true" ></i> HERRAMIENTAS <span class="caret"></span> </a>
              <ul class="dropdown-menu">
                  <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> MAPA</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-wifi" aria-hidden="true"></i> WIFI</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i> BUSCAME</a>
                    </li>
              </ul>
          </li> 
          <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-usd" aria-hidden="true"></i> DONACIONES</a>
          </li>
          <li *ngIf="!isLoggedIn()" class="nav-item" (click)="loginWithGoogle()">
              <a class="nav-link" href="#"  ><i class="fa fa-unlock-alt" aria-hidden="true"></i> INICIAR SESION</a>
          </li>
          <li *ngIf="isLoggedIn()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#" ><i class="fa fa-user" aria-hidden="true"></i> {{user.displayName}}</a>
              <ul class="dropdown-menu">
                  <li *ngIf="isLoggedIn()" class="nav-item">
                      <a class="nav-link" href="#" (click)="logout()"><i class="fa fa-lock" aria-hidden="true"></i> CERRAR SESSION</a>
                  </li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<agm-map  [latitude]="19.432608" [longitude]="-99.133209" [zoom]="zoom" style="height: 50vh !important;">
  <div  *ngFor="let location of locations | async;let i = index">
    <agm-marker
     [latitude]="location.lat"
     [longitude]="location.long">
     <agm-info-window>
        <strong><p>{{location.name}}</p></strong>
       <p (click)="information(location)" data-toggle="modal" data-target="#myModal" class="markerWindow"text-center>VER INFO</p>
    </agm-info-window>
    </agm-marker>    
  </div>
</agm-map>

<div [hidden]="!isLoggedIn()" class="row albergueBig">
  <div class="col-sm-2">
    <p>Tipo:</p>
    <select class="albergueInfo " id="selectType" #type [value]="typeValue" (input)="typeValue=$event.target.value">
        <option val="1">Albergue</option>
        <option val="2">Necesitamos</option>
        <option val="3">Cruz Roja</option>
        <option val="4">Sismo</option>
        <option val="5">Huracan</option>
        <option val="6">Centro de Acopio</option>
        <option val="7">Hospitales Gratuitos</option>
        <option val="8">Asesorias Gratuitas</option>
    </select>
  </div>
  <div class="col-sm-2 albergueSmall">
    <p>Nombre:</p>
    <input class="albergueInfo" type="text" #name [value]="nameValue" (input)="nameValue=$event.target.value"/>
  </div>
  <div class="col-sm-4 albergueSmall">  
      <p>Dirección:</p>
      <input [hidden]="!isLoggedIn()" class="albergueInfo" type="text" autocorrect="off" autocapitalized="off" 
      spellcheck="off"
      placeholder=""
      #address [value]="addressValue" (input)="addressValue=$event.target.value"/>

  </div>
  <div class="col-sm-2 albergueSmall">
      <p>Necesitamos:</p>
      <textarea class="albergueInfo needsInfo" type="text"  #needs [value]="needsValue" (input)="needsValue=$event.target.value"> </textarea>
  </div>
  <div class="col-sm-1">
    <input type="button" class="btn btn-primary albergueInfo btnInfo" (click)="add(name.value,address.value,needs.value)" value="Agregar"/>
  </div>
</div>

<table class="table table-hover table-bordered">
    <thead>
      <tr class="bg-dark">
        <th  class="text-white">Nombre</th>
        <th  class="text-white">Dirección</th>
        <th  class="text-white">Necesitamos</th>
        <th  class="text-white" *ngIf="isLoggedIn()"> Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations | async; let i = index" class="rowTable">
        <td #nameTemp  >{{location.name}}</td>
        <td #addressTemp>{{location.address}}</td>
        <td #needsTemp  (click)="information(location)" data-toggle="modal" data-target="#myModal">
            Ver Info
        </td>
        <td *ngIf="isLoggedIn()"><i *ngIf="userUID() == location.uid" class="fa fa-minus-circle fa-lg text-danger removeLocations" aria-hidden="true" (click)="remove(location)"></i>
          <i *ngIf="userUID() == location.uid" class="fa fa-pencil-square-o fa-lg text-warning removeLocations" aria-hidden="true"
           (click)="update(location,location.name,location.address,location.needs,location.uid, location.lat, location.long, location.id, location)"></i>
        </td>
      </tr>  
    </tbody>
  </table>  
  <!-- Modal -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <i class="fa fa-hospital-o" aria-hidden="true" text-success></i>
          <h4 class="modal-title" [innerHtml]="modalName"></h4>
        </div>
        <div class="modal-body">
            <h4>Dirección</h4>
            <div [innerHtml]="modalAddress">
            </div>
          <div class="row">   
            <div class="col-sm-6">
              <h4>Necesitamos</h4>
              <div [innerHtml]="modalNeeds">
              </div> 
            </div>
            <div class="col-sm-6">
              <h4>Hora y Fecha</h4>
              <div>
                <p>8:35AM 09/19/2017</p>
              </div> 
            </div>          
          </div>
        </div>  
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
          </div>
      </div>
  
    </div>
  </div>
<div id="modalInfo" >
  
</div>
<script> 
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>