/* You can add global styles to this file, and also import other style files */
nav {
    box-shadow: 2px 2px 5px grey !important;    
}



.removeLocations{
    cursor: pointer;
}

.albergueInfo {
    height: 35px;
    vertical-align:bottom;
    width: 100%;
}

.albergueSmall{    
    width: 250px !important;
}

.btnInfo  {
    vertical-align:bottom;
    height: 35px !important;
    width: 150px !important;
    margin-top: 40px !important;
}

.albergueBig {
    margin-left: 10px;
    margin-top: 5%;
  
}

.rowTable{
    cursor: pointer;
}

table, td, tr, th {
    text-align: center;
}

#selectType{
    margin-top: 40px !important;
}